*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 
}



.navbar{
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
}

.navbar .navledt{
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar .navledt a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.navbar .navledt button{
  padding: 5px 10px ;
  border: none;
  border-radius: 20px;
  background: rgb(177, 176, 176);
}


.navbar .navright{
  display: flex;
  gap: 20px;
  align-items: center;

}

.navbar .navright a{
  text-decoration: none;
  text-transform: capitalize;
  color: black;

}


